.recomended-friends {
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--section_border);
    border-bottom: var(--section_border);
}

.recomended-friends__title {
    font-size: 15px;
    color: var(--gray_font_color);
}

.recomended-friends span {
    display: block;
    margin: 110px 0px;
    text-align: center;
    font-size: 18px;
    color: var(--gray_font_color);
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    color: var(--gray_font_color);
    margin-bottom: 25px;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-post__title {
    font-weight: 600;
    margin-bottom: 5px;
}

.open-post__hashtag {
    text-transform: uppercase;
    color: var(--gray_font_color);
}

.open-post__members {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.open-post__members img {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.open-post__member-count {
    color: var(--gray_font_color);
    font-size: 14px;
}

.open-post__members .divider{
    width: 1px;
    height: 15px;
    margin: 0px 5px;
    background-color: var(--gray_font_color);
}

.open-post__member-status {
    color: #ffb0e0;
}

.open-post__photo {
    position: relative;
}

.open-post__photo img{
    width: 120px;
    height: 120px;
    border-radius: 10%;
}

.open-post__heart-count {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 7px;
    bottom: 7px;
}

.open-post__heart-count span {
    margin-left: 5px;
}

@keyframes heartBeat {
    0%{
        color: white;
        transform: none;
    }
    50%{
        color: crimson;
        transform: scale(1.4);
    }
    100%{
        color: white;
        transform: none;
    }
}

.open-post__heart-count:hover i {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}