.big-screen {
    position: absolute;
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    background-color: var(--kakao_yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    top: 0;
}

@media screen and (max-width:852px) {
    .big-screen{
        display: none;
    }
}